.keyboard {
    color: #333;

    $key-width: 12vw;

    &__key-list {
        display: flex;
        flex-wrap: wrap;
    }

    &__key {
        display: block;
        width: $key-width;
        height: 20vw;
        line-height: 20vw;
        text-transform: uppercase;

        text-align: center;
        font-size: 7rem;
        
        &:active {
            background: palegreen;
        }
        
        &--space {
            background: #f4f4f4;
            width: $key-width * 2;
        }

        &--delete {
            background: white;

            border-width: 9.5vh 10vh 9.5vh 0;
            border-color: transparent darkred transparent;
            border-style: solid;
            box-sizing: border-box;
        }
    }
}